{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success p-2 w-100">{{ button_label|default('Enregistrer') }}<i class="bi bi-person-plus-fill"></i></button>
{{ form_end(form) }}
