{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}
{% block stylesheets %}
<style> 
#bd{
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_883231284_200013331818843182490_335833.jpg");
}
</style>
{% endblock %}

{% block body %}
        <!-- section : display books -->
                             <section>
                             <div class=" container-fluid p-5 bg-light" id="bd"> 
                                  <div class="row">
    <div id="h"class="text-center mb-2 mt-2   p-3 "><h3 class="f-bold">Resultat de votre recherche:</h3></div>

                          {% for livre in livres %}

                             <div class="col-md-4">
                             <div class="card text-center mx-2 mb-3 bg-white">
                                        <i class="bi bi-book-half " style="font-size: 5rem"></i>
                                        <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="fw-bold">{{livre.titre}}</h3>
                                        </div>
                                        
                                    </div>
                                    <div class="text-right mb-3">
                                         <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-warning">Details<i class="bi bi-display"></i></a>
                                         {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-success"><i class="bi bi-pen"></i></a>{% endif %}
                                    </div>
                                    </div>
                             </div>
                                
                                 {% endfor %}
                                 <div class="d-flex justify-content-center">{{ knp_pagination_render(livres,'pagination.html.twig') }}</div> 
                                 </div>
                                 </div>         
                         
                          
                             </section>
    
   
{% endblock %}

