{% extends 'base.html.twig' %}
{% block title %}New Livre{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
<div class="row bg-light w-50 p-5 " style="margin-left:25%;">
<div class="col-md-10">
<div class="header mb-4 fs-3 fw-bold">Créer un nouveau livre :</div>
    
    <div class="form " >{{ include('livre/_form.html.twig') }}</div>

    <a href="{{ path('livre_index') }}">back to list</a>
</div></div>

{% endblock %}

